<div class="container hero-content">

  <div class="hero-text">

    <span>Olá, meu nome é</span>

    <h1>Davi Ferreira</h1>

    <h3>IT Support Engineer | Front-End Developer </h3>

    <p>
      Profissional de TI com experiência em suporte técnico e desenvolvimento Front-End.
      Atuo com ambientes Windows e Linux, focado em resolução de problemas, automação
      e melhoria de processos. Graduado em Análise e Desenvolvimento de Sistemas
      com foco em automação, programação e suporte técnico avançado.
    </p>

    <div class="hero-buttons">
      <a href="https://www.linkedin.com/in/contato-daviferreira/" class="btn-primary" target="_blank">LinkedIn</a>
      <a href=".\doc\Currículo TI - Davi Ferreira 04-2026.pdf" class="download" target="_blank">Download CV</a>
    </div>

  </div>

  <div class="hero-image">
    <img src="img/principal-home.png" alt="Hero">
  </div>

</div>