
<h1>Tecnologias</h1>

<a class="carousel-item"><img src="/img/java-logo_svgstack_com_28601775499086.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_javascript.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_python.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_bootstrap-5.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_sass.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_react.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_vitejs.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_css3.png" width="150px"></a>
<a class="carousel-item"><img src="/img/cdnlogo.com_html5.png" width="150px"></a>