<div class="container contact-content">
    <div class="contact-text">
        <h2>Entre em contato</h2>
        <p>
            Atendimento para suporte técnico, infraestrutura,
            configuração de ambientes e resolução de problemas.
            Entre em contato e vamos conversar sobre seu projeto.
        </p>
    </div>

    <div class="contact-form">
        <form id="form">
            <span class="form-title">Formulário</span>

            <div class="input-group">
                <input type="text" id="nome" name="nome" placeholder=" " required>
                <label for="nome">Nome *</label>
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder=" ">
                <label for="email">E-mail</label>
            </div>

            <div class="input-group">
                <input type="tel" id="tel" name="telefone" placeholder=" ">
                <label for="tel">Telefone</label>
            </div>

            <div class="input-group">
                <input type="text" id="assunto" name="assunto" placeholder=" ">
                <label for="assunto">Assunto</label>
            </div>

            <div class="input-group">
                <textarea id="mensagem" placeholder=" " name="mensagem" required></textarea>
                <label for="mensagem">Mensagem *</label>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

</div>