 <div class="footer-container">

      <div class="footer-info">
        <img src="./img/ds-logo.png" alt="Logo" class="footer-logo">
        <p>Transformando ideias em experiências digitais únicas e inovadoras.</p>
      </div>

      <div class="footer-links">
        <h4>Navegação</h4>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="#tech">Tecnologias</a></li>
          <li><a href="#projetos">Projetos</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <h4>Redes Sociais</h4>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/contato-daviferreira/" style="color: #045EC0;" aria-label="LinkedIn"><i
              class="fab fa-linkedin"></i></a>
          <a href="https://github.com/contato-daviferreira" style="color: #494949;" aria-label="GitHub"><i
              class="fab fa-github"></i></a>
          <a href="https://wa.me/5511988834971" style="color: #309844" aria-label="WhatsApp"><i
              class="fab fa-whatsapp"></i></a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; 2026 - Davi Ferreira. Todos os direitos reservados.</p>
    </div>