<div class="container">

    <img src="/img/ds-logo.png" class="logo">
    <div class="menu">
        <a href="/index.html">Home</a>
        <a href="/tecnologias.html">Tecnologias</a>
        <a href="#">Projetos</a>
        <a href="#">Sobre</a>
    </div>

    <button class="btn-contact" onclick="document.getElementById('contato').scrollIntoView({behavior: 'smooth'})">
        Entre em contato
    </button>

    <button class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</div>