
.carousel {
  height: 500px;
  width: 100%;
  text-align: center;


  .carousel-item {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: 200px;
    }

    @include mobileG {
      width: 120px;
    }

    img {
      width: 200px;

      @include tablet {
        width: 150px;
      }

      @include mobileG {
        width: 120px;
      }

    }
  }

  h2 {
    font-size: 32px;
    color: #ebdad5;
    font-weight: 100;

    //background-clip: text;
    //-webkit-text-fill-color: transparent;
    //background-image: linear-gradient(135deg, #981118, #dfa491, #981118);

  }
}

.espaco {
  height: 150px;
  display: none;
}