@import './variables';

header {
    padding: 20px 0;
    border-bottom: 1px solid $cinza-linha-escuro;
    position: sticky;
    top: 0;
    background: black;
    z-index: 1000;

    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 60px;
            max-width: 70px;
        }

        .menu {
            display: flex ;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            a {
                color: $cinza-texto;
                text-decoration: none;
                transition: 0.2s ease;


            }

            a:hover {
                color: white;
            }

        }

        .btn-contact {
            background: linear-gradient(90deg, #8b5cf6, #a855f7, #b79eb9);
            background-size: 200% 100%;
            background-position: left;

            border: none;
            padding: 12px 22px;
            border-radius: 25px;
            color: black;
            font-weight: 600;
            cursor: pointer;

            transition: 0.5s ease;
        }

        .btn-contact:hover {
            background-position: right;
        }
    }
}




@media screen and (max-width:1050px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background: none;
    border: none;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff; /* Cor das barras */
    transition: 0.3s;
  }

  .menu {
    display: none !important; // Esconde o menu fixo
    flex-direction: column;
    position: absolute;
    top: 80px; // Aumente um pouco para não cobrir a borda do header
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
  }

  // Isso garante que o clique funcione
  .menu.active {
    display: flex !important;
  }


  .menu a {
    padding: 15px 0;
  }
}
@media screen and (min-width: 1050px) {
  .menu-toggle {
    display: none;
  }
}