@import './variables';


.hero {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        .hero-image img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }

        .hero-text {

            span {
                font-size: 16px;
                margin-left: 4px;
            }

            h1 {
                font-size: 50px;
                font-weight: bold;
                font-family: 'Ubuntu', cursive;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(135deg, $linhear-duplo);

            }

            h3 {
                font-size: 15px;
                font-family: 'roboto', sans-serif;
                letter-spacing: .05em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(135deg, $linhear-duplo);
                background-clip: text;
                margin: 10px 0 0;
            }

            p {
                color: $cinza-texto-claro;
                margin: 20px 0;
                max-width: 500px;
            }

            .hero-buttons {
                display: flex;
                gap: 20px;
                align-items: center;
                font-size: 13px;

            }

            html {
                scroll-behavior: smooth;
            }

            .btn-primary {
                background: linear-gradient(90deg, $linhear-duplo);
                background-size: 200% 100%;
                background-position: right;
                border: none;
                padding: 14px 26px;
                border-radius: 25px;
                color: white;
                cursor: pointer;
            }

            .download {

                color: #ffffff;
                padding: 12px 24px 10px;
                border: 2px solid #8b5cf6;
                border-radius: 25px;
                transition: 0.3s ease;
                margin-top: 2px;
            }

            .download:hover {
                background: $roxo-claro;
            }
        }

    }
}

@media(max-width:1200px) {

    .hero-content {
        flex-direction: column;
        text-align: center;

        .hero-image img {
            width: 90% !important;
            height: auto;

        }

    }

    .hero-buttons {
        justify-content: center;
        padding: 20px 0;
    }

    .menu {
        display: none;
    }

    .btn-contact {
        display: none;
    }

    .menu-mobile {
        display: show;
        color: wheat;

    }

    @media(max-width:580px) {

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
                font-size: 80%;
                padding: 15px 30px;
            }
        }
    }
}