@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
}
* body {
  background: #000;
  color: white;
}
* body header {
  padding: 20px 0;
  border-bottom: 1px solid #222;
  position: sticky;
  top: 0;
  background: black;
  z-index: 999;
}
* body header .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* body header .container .logo {
  width: 60px;
  max-width: 70px;
}
@media (max-width: 800px) {
  * body header .container .logo {
    width: 50px;
  }
}
* body header .container .menu-toggle {
  display: none;
}
@media (max-width: 800px) {
  * body header .container .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background: none;
    border: none;
  }
  * body header .container .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #aaa;
    /* Cor das barras */
    transition: 0.3s;
  }
}
* body header .container .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
* body header .container .menu a {
  color: #6b6969;
  text-decoration: none;
  transition: 0.2s ease;
}
* body header .container .menu a:hover {
  color: white;
}
* body header .container .menu .mobile-contato {
  display: none;
}
* body header .container .btn-contact {
  background: linear-gradient(90deg, #8b5cf6, #a855f7, #b79eb9);
  background-size: 200% 100%;
  background-position: left;
  border: none;
  padding: 12px 22px;
  border-radius: 25px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 800px) {
  * body header .container .btn-contact {
    display: none;
  }
}
* body header .container .btn-contact:hover {
  background-position: right;
}
* body .hero {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
* body .hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
* body .hero .hero-content .hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
* body .hero .hero-content .hero-text h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Ubuntu", cursive;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #e386ff, #4b1abe);
  margin: 5px 0 15px;
}
* body .hero .hero-content .hero-text h3 {
  font-size: 15px;
  font-family: "roboto", sans-serif;
  letter-spacing: 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #e386ff, #4b1abe);
  background-clip: text;
  margin: 10px 0 0;
}
* body .hero .hero-content .hero-text p {
  color: #aaa;
  margin: 20px 0;
  max-width: 500px;
}
* body .hero .hero-content .hero-text .hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 13px;
}
* body .hero .hero-content .hero-text html {
  scroll-behavior: smooth;
}
* body .hero .hero-content .hero-text .btn-primary {
  background: linear-gradient(90deg, #e386ff, #4b1abe);
  background-size: 200% 100%;
  background-position: right;
  border: none;
  padding: 14px 26px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}
* body .hero .hero-content .hero-text .download {
  color: #ffffff;
  padding: 12px 24px 10px;
  border: 2px solid #8b5cf6;
  border-radius: 25px;
  transition: 0.3s ease;
  margin-top: 2px;
}
* body .hero .hero-content .hero-text .download:hover {
  background: #7344e0;
}
@media (max-width: 1200px) {
  * body .hero .hero-content {
    flex-direction: column;
    text-align: center;
  }
  * body .hero .hero-content .hero-image img {
    width: 98%;
    height: auto;
  }
  * body .hero .hero-content .hero-buttons {
    justify-content: center;
    padding: 20px 0;
  }
  * body .hero .hero-content .menu {
    display: none;
  }
  * body .hero .hero-content .btn-contact {
    display: none;
  }
  * body .hero .hero-content .menu-mobile {
    display: show;
    color: wheat;
  }
}
@media (max-width: 580px) {
  * body .hero .hero-content .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * body .hero .hero-content .hero-text h3 {
    margin: unset;
  }
}
@media (max-width: 580px) and (max-width: 400px) {
  * body .hero .hero-content .hero-text h1 {
    font-size: 45px;
  }
  * body .hero .hero-content .hero-text h3 {
    font-size: 14px;
  }
}
@media (max-width: 580px) and (max-width: 320px) {
  * body .hero .hero-content .hero-text .hero-buttons {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  * body .hero .hero-content .hero-text p {
    text-align: center;
    padding: 10px 20px;
  }
}
* body .scroll-container {
  margin-top: 50px;
  color: #7344e0;
  display: flex;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
  cursor: pointer;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@media (max-width: 500px) {
  * body .scroll-container {
    font-size: 50px;
  }
}
* body .carousel {
  height: 500px;
  width: 100%;
  text-align: center;
}
* body .carousel .carousel .carousel-item {
  width: 100px;
}
* body .carousel .carousel-item img {
  width: 100%;
}
* body .carousel h2 {
  font-size: 32px;
  color: #ebdad5;
  font-weight: 100;
}
* body .espaco {
  height: 150px;
}
@media (max-width: 580px) {
  * body .carousel .carousel-item img {
    width: 95%;
  }
}
* body .contact {
  padding: 300px 0 200px;
  display: flex;
  background-image: linear-gradient(180deg, #000, #1c011d, #000);
  align-items: center;
  justify-content: center;
}
* body .contact .contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
* body .contact .contact-content .contact-text {
  width: 100%;
  max-width: 450px;
}
* body .contact .contact-content .contact-text h2 {
  font-size: 32px;
  margin: 0 0 20px;
  color: #ebdad5;
  font-weight: 100;
}
* body .contact .contact-content .contact-text p {
  color: #aaa;
  line-height: 1.6;
}
* body .contact .contact-content .contact-form {
  background: #0a0a0a;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 400px;
  opacity: 0.8;
}
* body .contact .contact-content .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #8b5cf6;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
}
* body .contact .contact-content .contact-form form input:-webkit-autofill,
* body .contact .contact-content .contact-form form input:-webkit-autofill:hover,
* body .contact .contact-content .contact-form form input:-webkit-autofill:focus,
* body .contact .contact-content .contact-form form textarea:-webkit-autofill,
* body .contact .contact-content .contact-form form textarea:-webkit-autofill:hover,
* body .contact .contact-content .contact-form form textarea:-webkit-autofill:focus {
  /* Substitui o fundo por uma cor sólida (ex: #121212) */
  -webkit-box-shadow: 0 0 0px 1000px #0a0a0a inset !important;
  /* Define a cor do texto */
  -webkit-text-fill-color: rgb(205, 218, 204) !important;
  /* Transição suave para evitar "piscadas" */
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
* body .contact .contact-content .contact-form form input,
* body .contact .contact-content .contact-form form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  color: rgb(205, 218, 204);
  outline: none;
  height: 10px;
}
* body .contact .contact-content .contact-form form input {
  padding: 10px 0px;
}
* body .contact .contact-content .contact-form form textarea {
  resize: none;
  height: 90px;
}
* body .contact .contact-content .contact-form form button {
  background: linear-gradient(90deg, #8b5cf6, #a855f7);
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
* body .contact .contact-content .contact-form form .input-group {
  position: relative;
  width: 100%;
}
* body .contact .contact-content .contact-form form .input-group label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #666;
  /* Cor cinza quando está parado */
  pointer-events: none;
  transition: 0.3s ease all;
  font-size: 14px;
}
* body .contact .contact-content .contact-form form input:not(:-moz-placeholder) ~ label, * body .contact .contact-content .contact-form form textarea:not(:-moz-placeholder) ~ label {
  top: -13px;
  font-size: 13px;
  color: #a855f7;
  /* Roxo do seu tema */
  font-weight: 500;
}
* body .contact .contact-content .contact-form form input:focus ~ label,
* body .contact .contact-content .contact-form form input:not(:placeholder-shown) ~ label,
* body .contact .contact-content .contact-form form textarea:focus ~ label,
* body .contact .contact-content .contact-form form textarea:not(:placeholder-shown) ~ label {
  top: -13px;
  font-size: 13px;
  color: #a855f7;
  /* Roxo do seu tema */
  font-weight: 500;
}
* body .contact .contact-content .contact-form form textarea:not(:-moz-placeholder) ~ label {
  top: -20px;
}
* body .contact .contact-content .contact-form form textarea:focus ~ label,
* body .contact .contact-content .contact-form form textarea:not(:placeholder-shown) ~ label {
  top: -20px;
}
* body .contact .contact-content .contact-form form input:focus,
* body .contact .contact-content .contact-form form textarea:focus {
  border-bottom: 1px solid #a855f7;
  top: -12px;
}
* body .contact .contact-content .contact-form form button[type=submit] {
  transition: filter 0.3s ease, transform 0.2s ease;
}
* body .contact .contact-content .contact-form form button[type=submit]:hover {
  filter: brightness(1.2);
  /* Dá um brilho no roxo */
  transform: translateY(-2px);
  /* Pequeno pulo para cima */
}
@media (max-width: 1215px) {
  * body .contact {
    padding: 200px 0;
  }
  * body .contact .contact-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 400px) {
  * body .contact {
    padding-bottom: 100px;
  }
  * body .contact .contact-content .contact-text h2 {
    margin-top: unset;
  }
  * body .contact .contact-content .contact-form {
    padding: 20px;
  }
}
* body footer {
  background-color: #0a0513;
  /* Preto roxo igual ao seu Header */
  color: #fff;
  padding: 60px 0 20px 0;
  border-top: 1px solid #222;
  /* Linha sutil no topo */
  font-family: sans-serif;
  margin-top: 120px;
}
* body footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
* body footer .footer-container h4 {
  color: #887897;
  /* Roxo principal */
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
* body footer .footer-container .footer-info,
* body footer .footer-container .footer-links,
* body footer .footer-container .footer-social {
  flex: 1;
  margin-bottom: 30px;
  padding-left: 100px;
}
* body footer .footer-container .footer-info .footer-logo {
  width: 50px;
  margin-bottom: 20px;
}
* body footer .footer-container .footer-info p {
  color: #a1a1aa;
  line-height: 1.6;
  font-size: 0.9rem;
  width: 75%;
  max-width: 300px;
}
* body footer .footer-container .footer-links ul {
  list-style: none;
  padding: 0;
}
* body footer .footer-container .footer-links li {
  margin-bottom: 12px;
}
* body footer .footer-container .footer-links a {
  color: #6b6969;
  text-decoration: none;
  transition: color 0.3s ease;
}
* body footer .footer-container .footer-links a:hover {
  color: white;
}
* body footer .footer-container .footer-social .social-icons {
  display: flex;
  gap: 15px;
}
* body footer .footer-container .footer-social .social-icons a {
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
* body footer .footer-container .footer-social .social-icons a:hover {
  color: #ffffff !important;
  transform: translateY(-5px);
}
* body footer .footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
* body footer .footer-bottom p {
  color: #71717a;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  * body footer .footer-container {
    flex-direction: column;
    text-align: center;
  }
  * body footer .footer-container .footer-info {
    align-items: center;
  }
  * body footer .footer-container .footer-info,
  * body footer .footer-container .footer-links,
  * body footer .footer-container .footer-social {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  * body footer .footer-container .footer-info p {
    margin: 0 auto 20px auto;
  }
  * body footer .footer-container .footer-social h4 {
    padding: 0 0 20px;
  }
  * body footer .footer-container .social-icons {
    justify-content: center;
    gap: 20px;
  }
}
* body .bg-black-100 {
  padding: 200px 10% 0 10%;
  background-image: linear-gradient(180deg, #000, #1c011d, #000);
}/*# sourceMappingURL=Index.css.map */